body {
  background-color: #333;
  color: #eee;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}
a {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  color: inherit;
}
a, .btn {
  cursor: pointer;
}
.well a, a.btn {
  text-decoration: none;
}
.header {
  padding-right: 15px;
  padding-left: 15px;
}

.page-header {
  border: 0;
  padding: 0;
}
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  text-align: center;
  border: 0;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

#particles {
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .header {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 30px;
  }
}
.jumbotron p {text-align: left; letter-spacing: 0.05em; font-family: Helvetica, 'Source Sans Pro', sans-serif;}
.lead span, .lead.hidden-lg {background: #000; color: #fff; background: rgba(0,0,0,0.5); padding: 0 10px;}
.img-thumbnail {max-height: 250px;}
.well {
  text-decoration: none;
  display: block;
  background: #eee;
  color: #333;
  padding: 8px 19px;
  border: 0;
  min-height: 0.5em;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
  opacity: 0.8;
}
.well:hover {
  text-decoration: none;
  background: #ddd;
  color: #111;
}
h1,h2,h3,h4 {
  font-weight: bold;
}
.row p {
  font-size: 1.1em;
}
a.list-group-item {
  background: none;
  border: none;
  color: #eee;
}
.list-group-item, .btn {
  border-radius: 5px !important;
}

.alert, .jumbotron, .img-thumbnail, .well{
  border-radius: 5px !important;
}
.alert-info {
  border: none;
}

.label {
  border-radius: 5px !important;
  font-weight: normal;
  background: #eee;
  color: #333;
  opacity: 0.5;
  margin-bottom: 4px;
}
.well .label {
  background: #333;
  color: #eee;
}
.well-divider {
  text-align: center;
}
.well-divider a {
  margin-right: 1em;
  margin-left: 1em;
  white-space: nowrap;
}
div[class^="col"] {
  padding-bottom: 1em;
}
